{% extends "_layouts/cp" %}
{% import "fundraising/_macros/charts.twig" as charts %}

{% set title = 'Dashboard' %}
{% set crumbs = [
  {
    label: 'Fundraising'|t('plugin-handle'),
    url: url(pluginHandle),
  },
  {
    label: 'Dashboard'|t('plugin-handle'),
    url: url(pluginHandle ~ '/dashboard'),
  },
] %}

{% set selectedSubnavItem = pluginHandle ~ '/dashboard' %}
{% set projectPieLabels = '' %}

{% block content %}

<div class="pane">
  <h2>Overview</h2>
  <p>Total Projects: {{ projectsCount }}</p>
  <p>Total Raised Across All Projects: {{ totalRaised|currency }}</p>
  <div class="dashboard-charts">
    {{ charts.renderChart('projectsPie', 'pie', pieChartData) }}
    {{ charts.renderChart('donationsLine', 'line', lineChartData) }}
  </div>
</div>

<div class="pane">
  <h2>Active Projects</h2>
  {% if activeProjects %}
    <table class="data">
      <thead>
        <tr>
          <th>Title</th>
          <th>Goal</th>
          <th>Funded</th>
          <th>Progress</th>
        </tr>
      </thead>
      <tbody>
        {% for p in activeProjects %}
          {% set percentage = p.goal > 0 ? (p.funded/p.goal)*100 : 0 %}
          <tr>
            <td><a href="{{ url('fundraising/projects/edit/' ~ p.id) }}">{{ p.title }}</a></td>
            <td>{{ p.goal|currency }}</td>
            <td>{{ p.funded|currency }}</td>
            <td>{{ percentage|number_format(2) }}%</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p>No active projects at this time.</p>
  {% endif %}
</div>
{% endblock %}

{% js "https://cdn.jsdelivr.net/npm/chart.js" %}

{% css %}
  .dashboard-charts {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .dashboard-charts canvas {
      max-width: 48%;
      max-height: 400px;
      aspect-ratio: 1 / 1;
      margin-bottom: 20px;
  }

  @media (max-width: 768px) {
      .dashboard-charts canvas {
          max-width: 100%;
      }
  }
{% endcss %}


