{% extends "_layouts/cp" %}
{% block content %}
<h1>Projects</h1>
<p><a href="{{ url('fundraising/projects/edit') }}" class="btn">New Project</a></p>
<table class="data">
  <thead>
    <tr>
      <th>Title</th><th>Project ID</th><th>Goal</th><th>Funded</th><th></th>
    </tr>
  </thead>
  <tbody>
    {% for p in projects %}
    <tr>
      <td>{{ p.title }}</td>
      <td>{{ p.projectId }}</td>
      <td>{{ p.goal|currency }}</td>
      <td>{{ p.funded|currency }}</td>
      <td><a href="{{ url('fundraising/projects/edit/' ~ p.id) }}">Edit</a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
